
.wrapper {
    width: 1000px;
    min-height: 500px;
    background-color: gray;
    border: solid 1px black;
}

header {
    width: 800px;
    height: 50px;
    background-color: yellow;
    padding: 0 100px;
}

.title {
    float: left;
    line-height: 50px;
}

.search {
    float: right;
    line-height: 50px;
}

.main {
    width: 1000px;
    min-height: 450px;
    background-color: #6fffc6;
    padding-top: 10px;
    border-top: solid 1px black;
}

.ToDoForm {
    width: 760px;
    height: 160px;
    background-color: white;
    margin: 0 auto;
    padding: 40px 20px 0;
    border: solid 1px black;
}

.text {
    height: 70px;
    float: left;
}

.submit {
    width: 100px;
    height: 70px;
    float: right;
    line-height: 70px;
    margin-top: 40px;
    text-align: center;
    border:solid 1px black;
}


.TodoList {
    width: 800px;
    height: 100px;
    background-color: white;
    margin: 0 auto;
    margin-top: 10px;
    border:solid 1px black;
}

.ToDo {
    width: 800px;
    height: 100px;
    padding-top: 15px;
    margin-left: 20px;
    position: relative;
}

.edit {
    width: 100px;
    height: 70px;
    position: absolute;
    top: 0;
    right: 140px;
    line-height: 70px;
    margin: 15px 20px 0 0;
    text-align: center;
    border:solid 1px black;
}

.status-finished {
    width: 100px;
    height: 70px;
    position: absolute;
    top: 0;
    right: 20px;
    line-height: 70px;
    margin: 15px 20px 0 0;
    text-align: center;
    border:solid 1px black;
    background-color: aqua;
}

.status-unfinished {
    width: 100px;
    height: 70px;
    position: absolute;
    top: 0;
    right: 20px;
    line-height: 70px;
    margin: 15px 20px 0 0;
    text-align: center;
    border: solid 1px black;
    background-color: red;
}

.text-danger {
    color: red;
}

.search-box {
    padding-top: 30px;
    padding-left: 20px;
}