<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" media="all" th:href="@{/css/main.css}"/>

<head>
    <meta charset="UTF-8">
    <title>Todo</title>
</head>
<body>
<div class="wrapper">
    <header>
        <div class="title"> TODOリスト</div>
        <div class="search"> 検索</div>
    </header>
    <div class="main">
        <div class="ToDoForm">
            <div>
                ToDoの内容を変更します
            </div>
            <form th:action="@{./edit}" th:method="post" th:object="${todo}">
                <div class="text">
                    <p>
                        <span class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span><br/>
                        ToDo名<input type="text" name="name" size="40" th:field="*{name}">
                    </p>

                    <p>
                        <span class="text-danger" th:if="${#fields.hasErrors('limit')}"
                              th:errors="*{limit}"></span><br/>
                        期限<input type="date" name="limit" size="40" th:field="*{limit}">
                    </p>
                </div>

                <p class="submit">
                    <input type="submit" value="更新">
                </p>
            </form>
        </div>
    </div>
</div>
</body>
</html>