<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" href="../static/css/main.css" th:href="@{../static/css/main.css}">

<head>
    <meta charset="UTF-8">
    <title>Todo</title>
</head>
<body>
<div class="wrapper">
    <header>
        <div class="title"> TODOリスト</div>
        <div class="search"> 検索</div>
    </header>
    <div class="main">
        <div class="ToDoForm">
            <div>
                新しいToDoを作成する
            </div>

            <form method="post">
                <div class="text">
                    <p>
                        ToDo名<input type="text" name="todo" size="40">
                    </p>

                    <p>
                        期限<input type="text" name="limit" size="40">
                    </p>
                </div>
                <p class="submit">
                    <button type="submit">ToDo追加</button>
                </p>
            </form>
        </div>

        <div class="TodoList">
            <div class="ToDo">
                <p th:text="${todo}"></p><br/>
                <p th:text="'期限：' + ${limit}"></p><br>
                作成日：2018年10月5日
            </div>

            <div class="status">
                未完了
            </div>

            <div class="edit">
                編集
            </div>

        </div>

        <div class="TodoList">
            <div class="ToDo">
                レポート表紙を作る<br>
                期限：2018年12月31日<br>
                作成日：2018年10月5日
            </div>

            <div class="status">
                完了
            </div>

            <div class="edit">
                編集
            </div>

        </div>
    </div>
</div>
</body>
</html>