<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" media="all" th:href="@{/css/main.css}"/>

<head>
    <meta charset="UTF-8">
    <title>Todo</title>
</head>
<body>
<div class="wrapper">
    <header>
        <div class="title"> TODOリスト</div>
        <div class="search"><a th:href="@{/search}">検索</a></div>
    </header>
    <div class="main">
        <div class="ToDoForm">
            <div>
                新しいToDoを作成する
            </div>

            <form th:action="@{/}" th:method="post" th:object="${todo}">
                <div class="text">
                    <p>
                        <span class="text-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span><br/>
                        ToDo名<input type="text" name="name" size="40" th:field="*{name}">
                    </p>

                    <p>
                        <span class="text-danger" th:if="${#fields.hasErrors('limit')}"
                              th:errors="*{limit}"></span><br/>
                        期限<input type="date" name="limit" th:field="*{limit}">

                    </p>
                </div>
                <button type="submit" class="submit">ToDo追加</button>
            </form>
        </div>
        <tr th:each="todo:${todos}" th:object="${todo}">
            <div class="TodoList">
                <div class="ToDo">
                    <td th:text="*{name}"></td>
                    <br/>
                    <td th:text="'期限：' + *{limit}"></td>
                    <br/>
                    作成日：2018年10月5日

                    <div>
                        <form th:action="@{/{id}}" th:method="post" th:object="${todo}">
                            <input type="hidden" value="0" name="status" class="status"/>
                            <input type="checkbox" value="1" name="status" class="status"/>
                            <button type="submit" class="status">未完了</button>
                        </form>
                    </div>

                    <div>
                        <button type="button" class="edit"
                                th:onclick="'location.href= \'' + @{/{id}/edit(id=*{id})} + '\''">
                            編集
                        </button>
                    </div>
                </div>
            </div>
        </tr>
    </div>
</div>
</body>
</html>