<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" media="all" th:href="@{/css/main.css}"/>

<head>
    <meta charset="UTF-8">
    <title>Todo</title>
</head>
<body>
<div class="wrapper">
    <header>
        <div class="title"> TODOリスト</div>
        <div class="search"> 検索</div>
    </header>
    <div class="main">
        <div class="ToDoForm">
            <div class="text">
                <p class="search-box">
                    <input type="text" name="todo" size="40">
                </p>
            </div>
            <button type="submit" class="submit">検索</button>
        </div>
    </div>
</div>
</body>
</html>