<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" type="text/css" href="main.css">

<head>
    <meta charset="UTF-8">
    <title>Todo</title>
</head>
<body>
<div class="wrapper">
    <header>
        <div class="title"> TODOリスト</div>
        <div class="search"> 検索</div>
    </header>
    <div class="main">
        <div class="text">
            <p>
                <input type="text" name="todo" size="40">
            </p>
        </div>

        <p class="submit">
            <input type="submit" value="更新">
        </p>
    </div>
</div>
</body>
</html>